MONGODB_URL=mongodb://localhost:27017/youtube

JWT_ACCESS_TOKEN_SECRET=your_super_long_access_secret_key_here
JWT_REFRESH_TOKEN_SECRET=your_super_long_refresh_secret_key_here

JWT_ACCESS_TOKEN_EXPIRY=1d
JWT_REFRESH_TOKEN_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name

PORT=8000